.cart_product_info
{
	width: 532px;
}
.cart_product_info_inner
{
	width: 100%;
}
.cart_product_name a,
.cart_product_price,
.cart_product_total
{
	font-size: 20px;
	font-weight: 600;
	color: #232323;
}
.cart_product_price
{
	width: 31%;
	text-align: center;
}
.product_quantity_container
{
	width: 37%;
	text-align: center;
}
.cart_product_total
{
	width: 22%;
	text-align: center;
}
.cart_product_button
{
	width: 10%;
	text-align: center;
}
.cart_product_name
{
	margin-left: 35px;
}
.cart_product_name a:hover
{
	color: #937c6f;
}
.product_quantity
{
	display: inline-block;
	width: 122px;
	height: 41px;
	border: solid 1px #b5b5b5;
	overflow: hidden;
	padding-left: 11px;
	vertical-align: middle;
}
.product_quantity input
{
	display: block;
	width: 30px;
	height: 41px;
	border: none;
	outline: none;
	font-size: 14px;
	font-weight: 400;
	color: #232323;
	text-align: left;
	padding-left: 9px;
	line-height: 39px;
	float: left;
}
.quantity_buttons
{
	position: absolute;
	top: 0;
	right: 7px;
	height: 100%;
	width: 29px;
}
.quantity_inc, 
.quantity_dec
{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 50%;
	cursor: pointer;
}
.quantity_control i
{
	font-size: 16px;
	color: #232323;
	pointer-events: none;
}
.quantity_control:active
{
	border: solid 1px rgba(14, 140, 228, 0.2);
}
.quantity_inc
{
	padding-bottom: 0px;
	justify-content: flex-end;
}
.quantity_dec
{
	padding-top: 0px;
	justify-content: flex-start;
}
.cart_product_remove
{
	width: 30px;
	height: 30px;
	background: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}
.cart_product_remove img
{
	position: absolute;
	top: 50%;
	left: 50%;
}
.cart_control_bar
{
	padding-top: 31px;
	padding-bottom: 33px;
}
.cart_button
{
	height: 47px;
	border: solid 1px #b5b5b5;
	outline: none;
	background: #FFFFFF;
	padding-left: 34px;
	padding-right: 34px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	font-size: 12px;
	color: #232323;
	cursor: pointer;
}
.cart_button_2
{
	height: 47px;
	border: solid 1px #b5b5b5;
	outline: none;
	background: darkseagreen;
	padding-left: 34px;
	padding-right: 34px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	font-size: 12px;
	color:#FFFFFF;
	cursor: pointer;
}
.cart_button_2:hover
{
	background: #FFFFFF;
	color: #232323;
}
.cart_button:hover
{
	background: #937c6f;
	color: #FFFFFF;
	border: solid 1px #937c6f;
}
.button_clear
{
	margin-right: 8px;
}
.cart_extra
{
	padding-top: 54px;
}
.cart_coupon_form
{
	margin-top: 43px;
}
.cart_coupon_input
{
	width: 297px;
	height: 47px;
	border: solid 1px #b5b5b5;
	outline: none;
	padding-left: 23px;
	margin-right: 11px;
}
.cart_coupon_input::-webkit-input-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	color: #232323 !important;
}
.cart_coupon_input:-moz-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	color: #232323 !important;
}
.cart_coupon_input::-moz-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	color: #232323 !important;
} 
.cart_coupon_input:-ms-input-placeholder
{ 
	font-size: 14px !important;
	font-weight: 400 !important;
	color: #232323 !important;
}
.cart_coupon_input::input-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	color: #232323 !important;
}
.cart_total
{
	width: 100%;
}
.cart_total ul
{
	width: 100%;
	margin-top: 43px;
	border: solid 1px #b5b5b5;
}
.cart_total ul li
{
	width: 100%;
	height: 56px;
	padding-left: 40px;
	padding-right: 32px;
	border-bottom: solid 1px #b5b5b5;
}
.cart_total ul li:last-child
{
	border-bottom: none;
}
.cart_total_button
{
	width: 100%;
	height: 47px;
	border: solid 1px #b5b5b5;
	outline: none;
	background: lightblue;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	margin-top: 13px;
	font-size: 12px;
	color: black;
	cursor: pointer;
	margin-top: 13px;
}
.cart_total_button:hover
{
	background: #FFFFFF;
	color: #232323;
}